.container {
    height: 280px;
    width: 300px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    /* For equally spaced content */
    align-content: space-around;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid #FFF;
    margin: 5px;
}
