/* The empty-cells property indicates whether a cell without any content should
have a border displayed.
This property can have one of the three values - show, hide, or inherit. */

table.empty {
    width: 350px;
    border-collapse: separate;
    empty-cells: hide;
}

td.empty {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}