/* This property can have two values collapse and separate. The following example
uses both the values: */

table.one {
    border-collapse:collapse;
}

table.two {
    border-collapse: collapse;
}

td.a {
    border-style: dotted;
    border-width: 3px;
    border-color: #000;
    padding: 10px;
}

td.b {
    border-style: solid;
    border-width: 3px;
    border-color: #333;
    padding: 10px;;
}