body {
    text-align: center;
}

h2 {
    background-color: aliceblue;
    margin: 40px 30px 30px 30px;
    border-radius: 0 30px 30px 0; /* top-left top-right bottom-right bottom-left */
}

img {
    background-color: lightblue;
    width: 100px;
    padding: 10px;
    margin: 10px 5px 0 5px;
    border-radius: 20px;
}

button {
    background-color: darkcyan;
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 25px 0 0 0;
    border-radius: 0 30px 30px 0;
}

p {
    background-color: aliceblue;
    padding: 5px 10px 5px 10px;
    margin: 30px 30px 0 30px;
    border-radius: 15px 0 15px 0;
}
